absl-py==2.1.0
addict==2.4.0
# Editable Git install with no remote (basicsr===1.2.0-)
-e /data1tb/nhathuy/Restormer/Restormer
beautifulsoup4==4.12.3
brotlipy==0.7.0
cachetools==5.3.3
certifi @ file:///croot/certifi_1671487769961/work/certifi
cffi @ file:///croot/cffi_1670423208954/work
chardet==5.2.0
charset-normalizer==3.3.2
cryptography @ file:///croot/cryptography_1677533068310/work
cycler==0.11.0
einops==0.6.1
filelock==3.12.2
flit_core @ file:///opt/conda/conda-bld/flit-core_1644941570762/work/source/flit_core
fonttools==4.38.0
future==1.0.0
gdown==4.7.3
google-auth==2.29.0
google-auth-oauthlib==0.4.6
grpcio==1.62.2
h5py==3.8.0
idna==3.7
imageio==2.31.2
importlib-metadata==6.7.0
joblib==1.3.2
kiwisolver==1.4.5
lmdb==1.4.1
lpips==0.1.4
Markdown==3.4.4
MarkupSafe==2.1.5
matplotlib==3.5.3
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626179032232/work
mkl-service==2.4.0
natsort==8.4.0
networkx==2.6.3
numpy==1.16.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
opencv-python==4.9.0.80
packaging==24.0
pandas==0.24.2
Pillow==9.3.0
platformdirs==4.0.0
protobuf==3.20.3
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyOpenSSL @ file:///croot/pyopenssl_1677607685877/work
pyparsing==3.1.2
PySocks @ file:///tmp/build/80754af9/pysocks_1594394576006/work
python-dateutil==2.9.0.post0
pytz==2024.1
PyWavelets==1.3.0
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==2.0.0
rsa==4.9
scikit-image==0.19.3
scikit-learn==1.0.2
scipy==1.7.3
six @ file:///tmp/build/80754af9/six_1644875935023/work
soupsieve==2.4.1
tb-nightly==2.12.0a20230113
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
threadpoolctl==3.1.0
tifffile==2021.11.2
tomli==2.0.1
torch==1.13.1
torchaudio==0.10.1+cu113
torchvision==0.14.1
tqdm==4.32.2
typing_extensions==4.7.1
urllib3 @ file:///croot/urllib3_1673575502006/work
Werkzeug==2.2.3
yacs==0.1.8
yapf==0.40.2
zipp==3.15.0
